
.DS_Store
CertificateAppV2.xcodeproj/xcuserdata/tahaadiguzel.xcuserdatad/xcschemes/xcschememanagement.plist
CertificateAppV2.xcodeproj/project.xcworkspace/xcuserdata/tahaadiguzel.xcuserdatad/UserInterfaceState.xcuserstate
CertificateAppV2.xcodeproj/project.pbxproj